@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

:root {
  --gray-darker: #444444;
  --gray-dark: #696969;
  --gray: #999999;
  --bodybackground: black;
  --red: #272121;
  --gray-light: #cccccc;
  --gray-lighter: #ececec;
  --gray-lightest: lighten(@gray-lighter, 4%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: var(--bodybackground);
}

body {
  background-color: var(--bodybackground);
  color: var(--gray);
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

img {
  height: 250px;
  width: 300px;
}


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.header-box {
  background-color: white;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 100%;
  margin-bottom: 10px;
}

.btn-search {
  border: 1px solid black;
  background-color: #97ce4c;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Get Schwifty";
  color: black;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 6rem;
  height: 3rem;
}

.btn-search:hover {
  border: 2px solid #97ce4c;
  background-color: black ;
  color: #97ce4c;
}

select {
  color: #97ce4c;
  background-color: white;
  font-weight: bolder;
}


.box-title{
  margin: 2rem;
  
}

.box-filter{
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  color: red;
}

.card {
  background-color: greenyellow;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* padding: 0.5rem; */
  width: 250px;
  margin: 1rem;
}

/* .card:hover .card__image {
  filter: contrast(100%);
} */

.card_content {
  display: flex;
  /* flex: 1 1 auto; */
  flex-direction: column;
  padding: 1rem;
}

.card_footer {
  display: flex;
  justify-content: center;
}

/* button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #7e29a0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(189, 31, 31);
  width: 10rem;
  padding: 5px;
  margin: 0 0.5rem;
} */
.btn-items{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 10px;
  color: rgb(189, 31, 31);
  width: 2rem;
  padding: 10px;
  margin: 0;
  text-align: center;
}


.btn-items{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 10px;
  color: #337ab7;
  width: 2rem;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.btn-items:hover, .btn-items:focus {
  background-color: #337ab7;
  color: white;
}

.card_image {
  /* background-position: center center; */
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  /* filter: contrast(70%); */
  display: flex;
  justify-content: center;
  transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
}

.card_image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media(min-width: 40rem) {
  .card_image::before {
    padding-top: 66.6%;
  }
}

.card_title {
  color: red;
  font-size: 1rem;
  font-weight: 300;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card_text {
  flex: 1 1 auto; 
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-align: center;
}


h1 {
  color: #97ce4c;
  /* color: rgb(252, 249, 249); */
  text-align: center;
  font-family: "Get Schwifty";

}


.subtitle {
  margin-top: 1rem;
  color: #44281d;
  text-align: center;
}

p {
  text-align: justify;
  color: #526e2dff;
  font-weight: 500;
}

b {
  color: #272121;
}


.filter {
  border-radius: 8px;
  margin: 0.5rem;
  font-size: 16px;
  font-weight: bold;
  font-family: "Get Schwifty";
  padding: 0.5rem;
  color: black; 
}

option {
  font-family: "Get Schwifty";
}